@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}
.header{
    width: 100%;
    height: 100vh;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
.navbar .logo img{
    width: 140px;
    
}
nav ul li{
    display: inline-block;
    margin: 40px;
}
nav li a{
    color: rgb(82, 46, 20);
    font-weight: 600;
    transition: 1s;
}
nav li a:hover{
    background-color: rgb(82, 46, 20);
    color: white;
    border-radius: 50px;
    padding: 6px 20px;
}
nav{
    margin-right: 35%;
}
.icon i{
    font-size: 25px;
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.col-2{
    flex-basis: 50%;
}
.container .box{
    width: 500px;
    height: 500px;
    margin-top: -60px;
    position: relative;
}
.container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0; 
    mix-blend-mode: screen;
}
.container .box video{
    position: absolute;
    top: 0;
    left: 0;
    width: 99.9%;
    height: 98%;
    object-fit: cover;
}
.col-2 h1{
    font-size: 3rem;
    color: rgb(213, 87, 19);
}

.col-2 span{
    font-size: 6rem;
    margin-left: 50px !important;
    line-height: 60px;
    margin: 20px 0;
}
.col-2 p{
    margin: 15px 0;
    font-weight: 400;
}
.btn{
    display: inline-block;
    color: white;
    background-color: rgb(82, 46, 20);
    padding: 15px 45px;
    border-radius: 45px;
    margin-top: 8px;
    margin-left: 50%;
    box-shadow: inset 0 0 0 0 rgb(129, 60, 11) ;
    transition: 1.5s;
    border-style: solid;
}
.btn:hover{
box-shadow: inset 400px 0 0 0 rgb(213, 87, 19);;
}